<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        >
<head th:replace="template :: head(title='Заказ')"/>
<body>
<div th:replace="fragment/header :: header(page='orders/inprocess')">...</div>
<div class="container">
    <h1>Заказ</h1>

    <h2>Данные</h2>

    <div class="row">

    <div class="span8">
        <p th:if="${order.infoJson == null}" th:text="${order.info}"/>
        <div th:if="${order.infoJson != null}">
            <p th:if="${order.infoJson[k] != null}" th:each="k : ${order.infoJson.keys()}">
                <b th:text="${k}"/>:&nbsp;<span
                    th:text="${order.infoJson[k]}"
                    />
            </p>
        </div>

        <form action="?change_status" method="post" class="form-inline" th:if="${order.status.isUserDefined()}">
            <label for="status">Статус</label>
            <select name="status">
                <option
                        th:each="status : ${statuses}"
                        th:selected="${status == order.status}"
                        th:value="${status}"
                        th:text="#{${'order.status.' + status}}"
                    />
            </select>
            <button class="btn btn-sm btn-primary">Сменить статус</button>
        </form>

        <p th:if="${!order.status.isUserDefined()}">
            Заказ <b th:text="#{${'order.status.' + order.status}}" />
        </p>
    </div>

    <div class="span4">
        <p th:if="${order.status.isUserDefined()}">
            <a class="btn btn-primary btn-large" href="?cancel">
                Отказаться от заказа »
            </a>
        </p>

        <p th:if="${order.status.isUserDefined() and order.status != T(com.leadgen.enumerated.Status).CLIENT_DECLINED}">
            <a class="btn btn-primary btn-large" href="?done">
                Заказ выполнен »
            </a>
        </p>

        <p th:if="${order.status == T(com.leadgen.enumerated.Status).CLIENT_DECLINED}">
            <a class="btn btn-primary btn-large" href="?decline">
                Окончательный отказ клиента »
            </a>
        </p>
    </div>

    </div>




    <h2>История заказа</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Время</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${order.dtmUpdate}" />
                <td th:text="#{${'order.status.' + order.status}}" />
            </tr>
            <tr th:each="history : ${orderHistory}">
                <td th:text="${history.dtmUpdate}" />
                <td th:text="#{${'order.status.' + history.status}}" />
            </tr>
        </tbody>
    </table>

    <h2>Комментарии</h2>

    <div style="width: 50%">
        <form class="form-signin" method="post" action="?add_comment" enctype="multipart/form-data"  th:if="${order.status.isUserDefined()}">

            <div class="form-group">
                <textarea placeholder="Напишите комментарий" name="text"></textarea>
            </div>

            <div class="form-group">
                <button id="btn_add_file" class="btn btn-sm btn-primary">Прикрепить файл</button>
                <p>&nbsp;</p>
            </div>

            <button class="btn btn-large btn-primary" type="submit">Оставить комментарий</button>
        </form>
    </div>

    <div th:replace="fragment/pagination :: paginationbar">PAGINATION</div>

    <div th:each="comment : ${comments}" th:class="${('hero-unit comment') + ((comment.user == currentUser)? '' : ' answer')}">
        <p th:text="${comment.text}" />
        <p class="sign">
            <span th:text="${comment.user}" />, <span th:text="${#calendars.format(comment.dtmCreate,'dd MMMM yyyy HH:mm')}" />
        </p>
        <div class="files">
            <p th:each="attach : ${comment.attachments}">
                <span th:text="${attach.name}" />&nbsp;
                <a th:href="@{'/uploads/download/'} + ${attach.id} + '.' + ${attach.extension}" th:text="Скачать" />
            </p>
        </div>
    </div>

</div>
</body>
</html>