<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title='Редактировать пользователя')"/>
<body>
<div th:replace="fragment/header :: header(page='clients')">...</div>
<div class="container">
    <h1>Редактировать пользователя <span th:inline="text">[[${user.username}]]</span></h1>
    <div style="width:50%">
        <form class="form-signin" method="post" th:action="@{/users/}+${user.id}+'/chpass'">
            <h2 class="form-signin-heading">Сменить пароль</h2>
            <div th:if="${reason ne null}" th:switch="${reason}">
                <p th:case="${T(com.leadgen.exceptions.WrongInputDataException.Reason).PASSWORD_FIELD}" style="color: red">
                    Заполните поле Пароль!
                </p>
            </div>
            <input type="text" class="input-block-level" placeholder="Пароль" name="password" />
            <br />
            <button class="btn btn-large btn-primary" type="submit">Сменить</button>
        </form>
    </div>
</div>
</body>
</html>